@charset "UTF-8";
/*------------------------------------login------------------------------------*/

.backhina {
    position: absolute;
    height: 468px;
    left: 50%;
    top: 39%;
    transform: translate(-50%, -50%);
}

.login_form_top {

    width: 325px;
    padding: 40px 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000000bc;
    text-align: center;
}

.pass1 {
    color: white;
    font-weight: 420;
}

.p {
    font-size: 10px;
}

.password {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    border: 2px solid #ff69b4;
    padding: 15px 10px;
    width: 180px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
    text-align: center;
}

.password {
    width: 180px;
    background-color: #f0f8ff;
}

.login[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    border: 2px solid #f0f8ff;
    padding: 15px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 25px;
    transition: 0.25s;
    text-align: center;
    cursor: pointer;
}

.login[type="submit"]:hover {
    background-color: #ff69b4;
    border: 2px solid #ff69b4;
}

.span1 {
    color: #f62156;
}

.title1 {
    color: #c6fff8;
    font-size: 25px;
}

/*------------------------------------login------------------------------------*/

body {

    overflow-x: hidden;
    background-image: url(img/haikei.png);
    background-color: rgb(241, 241, 199);
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.update-log {
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    margin-bottom: 100px;
}

.update-log-ver {
    position: absolute;
    left: auto;
    top: auto;
    font-size: 10px;
    color: #4a4a4a;
}

.twitter-qrcode {
    position: absolute;
    left: 80%;
    top: 2%;
    width: 70px;
}

.twitter-qrcode-under {
    position: absolute;
    font-size: 8px;
    left: 81%;
    top: 65px;
}

.twitter-url {
    position: absolute;
    top: 60px;
    text-decoration: none;
    color: #4a4a4a;
}

.hinas-blog-heading {
    display: flex;
    margin-bottom: 300px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    margin-bottom: 400px;
}

.signboard {
    position: absolute;
    width: 350px;


}

.title1 {
    position: absolute;
    color: #4a4a4a;
    text-align: center;
    background: linear-gradient(transparent 85%, rgba(0, 255, 242, 0.301) 15%);
    top: -5px;
    left: 20px;

}

.text1 {
    position: absolute;
    text-align: center;
    color: #4a4a4a;
    font-size: 12px;
    left: 35px;
    top: 40px;

}

.hinas-blog-guidance-1 {
    position: relative;
    margin-top: 50px;
    display: flex;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.hina1 {
    position: relative;
    height: 200px;
    display: flex;
    left: -45px;
    top: -84px;
}

.speech-bubble1 {
    position: absolute;
    width: 80px;
    display: flex;
    width: 280px;
    left: 20%;
}

.p1 {
    position: absolute;
    color: #4a4a4a;
    z-index: 10px;
    left: 30%;
    width: 250px;
    font-size: 22px;
    top: -10px;
}

.hinas-blog-guidance-2 {
    position: relative;
    margin-top: 50px;
    display: flex;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.hina2 {
    position: relative;
    height: 200px;
    display: flex;
    left: 188px;
    top: -84px;
    width: 165px;
}

.speech-bubble2 {
    position: absolute;
    width: 80px;
    display: flex;
    width: 250px;
    left: -3%;
    top: 7px;
    height: 45px;
}

.p2 {
    position: absolute;
    color: #4a4a4a;
    z-index: 10px;
    left: 2%;
    width: 260px;
    font-size: 18px;
    top: 0px;
}

.profile-title{
    background: linear-gradient(transparent 75%, rgba(0, 255, 242, 0.301) 15%);
    width: 110px;
    color: #4a4a4a;
    font-size: 20px;
}

.hinas-blog-profile {
    position: relative;
    top: 50px;
    display: flex;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
}

.p3 {
    text-align: center;
    font-size: 15px;
    color: #4a4a4a;
    margin-left: auto;
    margin-right: auto;
}

.kakko-b1 {
    position: absolute;
    width: 50px;
    left: 0px;
    top: -25px;
    transform: rotate(-90deg);
}

.kakko-b3 {
    position: absolute;
    width: 50px;
    left: 300px;
    top: -25px;
    transform: rotate(-90deg);
}

.kakko-b2 {
    position: absolute;
    width: 50px;
    left: 0px;
    top: 150px;
    transform: rotate(90deg);
}

.kakko-b4 {
    position: absolute;
    width: 50px;
    left: 300px;
    top: 150px;
    transform: rotate(90deg);
}

.hinas-blog-profile2 {
    position: relative;
    display: flex;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
}

.p4 {
    text-align: center;
    font-size: 15px;
    color: #4a4a4a;
    margin-left: auto;
    margin-right: auto;
    top: 5px;
}

.hinas-blog-guidance-3 {

    position: relative;
    margin-top: 50px;
    display: flex;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.hina3 {
    position: relative;
    height: 200px;
    display: flex;
    left: -45px;
    top: -84px;
    width: 165px;
}

.speech-bubble3 {
    position: absolute;
    width: 80px;
    display: flex;
    width: 280px;
    left: 20%;
}

.p5 {
    position: absolute;
    color: #4a4a4a;
    z-index: 50px;
    left: 41%;
    width: 260px;
    font-size: 18px;
    top: -4px;
}

.hinas-blog-profile3 {
    position: relative;
    display: flex;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}
.p6 {
    text-align: center;
    font-size: 15px;
    color: #4a4a4a;
    margin-left: auto;
    margin-right: auto;
    top: 5px;
    margin-bottom: 100px;
}
.kakko-b5 {
    position: absolute;
    width: 50px;
    left: 0px;
    top: 285px;
    transform: rotate(90deg);
    
}

.kakko-b6 {
    position: absolute;
    width: 50px;
    left: 300px;
    top: 285px;
    transform: rotate(90deg);
    
}
.coming-soon{
    position: relative;
    text-align: center;
    font-size: 20px;
    color: #4a4a4a;
    margin-bottom: 50px;
}
.Revision-matter{
    background: linear-gradient(transparent 75%, rgba(0, 255, 242, 0.301) 15%);
    width: 200px;
    color: #4a4a4a;
    font-size: 20px;
}
.Revision-matter-div{
    position: relative;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}
.speech-bubble4{
    position: relative;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
}
.information{
    position: absolute;
    display: flex;
    font-size: 16px;
    color: #4a4a4a;
    z-index: 40;
    text-align: center;
    left: 70px;
    right: auto;
}
.please{
    font-size: 12px;
    text-align: center;
    font-size: 19px;
    margin-top: 50px;
    margin-left: 0px;
    background: linear-gradient(transparent 75%, rgba(0, 255, 242, 0.301) 15%);
    width: 180px;
}
.Afterword{
    position: relative;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}
.cloud{
    position: absolute;
    display: flex;
    width: 354px;
    height: 177px;
}
.hina4{
    position: absolute;
    display: flex;
    height: 182px;
    right: -15px;
    top: -10px;
}
.caution{
    position: absolute;
    color: #4a4a4a;
    font-size: 11px;
    text-align: center;
    top: 30px;
    left: 40px;
}
